doctype html
html
  head
    title css3动画交互调试加强版
    link(href="./css/style.css", rel="stylesheet", type="text/css")

body
  header.header
    .box.Ldf.Ldf--space-between
      h1.logo css3 Animation
      .btnbox
        a(href="javascript:;").btn.btn__run run

  section.content
    .box.Ldf
      section.control
        nav.btnbox
          -
            btns = {
              add: {
                zh: '添加'
              },
              group: {
                zh: '合并'
              },
              import: {
                zh: '导入'
              },
              delete: {
                zh: '删除'
              }
            }
          each btn, key in btns
            a.btn(href="javascript:;", class="btn__#{key}")=btn.zh
        .treebox
        //
          ul.tree
            -
              resources = [
                {
                  title: '搜索图标',
                  id: 'css_short_id_2'
                },{
                  title: '搜索栏',
                  id: 'css_short_id_1'
                },{
                  title: '下拉选择',
                  id: 'css_short_id_3',
                  p: 'css_short_id_1'
                }
              ]
            each resource, index in resources
              li.tree-item-box
                .tree-item
                  span=resource.title
            li.tree-item-box
              .tree-dir
                span 这是一个目录
                ul.tree-sub
                  li.tree-item-box
                    .tree-item
                      span 这是一个子文件
      section.main
        svg#canvas(width="600",height="800")

  section.popup.Ldn: .popupbox
    .tab
      ul.tab-nav
        -
          navItems = {
            '0': {
              name: '变形&过渡'
            },
            '1': {
              name: '自定义动画'
            },
            '3': {
              name: '动画库',
            }
          }
        each item, key in navItems
          li(class= key==0 ? 'active' : null)
            a(data-type=key)=item.name
      dl.tab-cont
        include _transform.jade
    .btnbox
      a(href="javascript:;").btn.btn--green 保存
      a(href="javascript:;").btn.btn--gray 撤消
    i.close X
  #scriptArea.Ldn
    script(src="../constant.js")
    script(src="./js/dom.js")
    script(src="./js/tree.js")
    script(src="./js/style.js")
    script(src="./js/snap.svg/snap.svg.js")
    script(src="./js/app.js")










