doctype html
html
  head
    title css3动画交互调试加强版
    link(rel="stylesheet", type="text/css", href="./dist/lib/pure/pure-min.css")
    link(rel="stylesheet", type="text/css", href="./dist/css/style.css")
    script(type="text/javascript", src="./dist/js/pre.js")
body
  #layout.pure-g.layout
    header.pure-u-1.header
      .pure-u-1.pure-u-mid-3-4.Lfll
        .pure-menu
          a(href="javascript:;").pure-button.button-success
            i.fa.fa-plus(aria-hidden="true")
            | 新建动画
          a(href="javascript:;").pure-button.button-success
            i.fa.fa-eye
            | 预览
          a(href="javascript:;").pure-button
            i.fa.fa-css3
            | 查看样式
          a(href="javascript:;").pure-button
            i.fa.fa-paint-brush
            | 清除缓存
          span.predefined
            label 预定义
            select.import
              -
                types = [{
                  type: 'file-animation',
                  name: '导入已有动画交互'
                },{
                  type: 'file-layout',
                  name: '已入布局'
                },{
                  type: 'file-css',
                  name: '导入动画库css文件'
                },{
                  type: 'input-css',
                  name: '在线输入动画库'
                }]
              for type in types
                option(value=type.type)=type.name
            -
              sizes = ['640*800','1024*1500']
            select.size
              for size in sizes
                option(value=size)=size
          span.grid
            label
              input(type="checkbox", value="1")
              i 显示网格线
      .pure-u-1.pure-u-mid-1-4.Lflr
        .pure-menu
          label 导出文件
          select.export
            option(value="file-animation") 导出包
            option(value="file-css") 导出样式
          a(href="javascript:;").pure-button.button-error
            i.fa.fa-refresh
            | 重置
    section.canvasbox
      #canvas.canvas

  .scriptArea.Ldn
    script(src="./dist/lib/do/do.js")
    script(src="./dist/js/config.js")
    script(src="./dist/js/app.js")

