doctype html
html
  head
    title css3动画交互调试加强版
    link(href="./css/style.css", rel="stylesheet", type="text/css")

body
  header.header
    .box.Ldf.Ldf--space-between
      h1.logo css3 Animation
      .btnbox
        a(href="javascript:;").btn.btn__run run

  section.content
    .box.Ldf
      section.control
        nav.btnbox
          -
            btns = {
              add: {
                zh: '添加'
              },
              group: {
                zh: '合并'
              },
              import: {
                zh: '导入'
              },
              delete: {
                zh: '删除'
              }
            }
          each btn, key in btns
            a.btn(href="javascript:;", class="btn__#{key}")=btn.zh
        .treebox
        //
          ul.tree
            -
              resources = [
                {
                  title: '搜索图标',
                  id: 'css_short_id_2'
                },{
                  title: '搜索栏',
                  id: 'css_short_id_1'
                },{
                  title: '下拉选择',
                  id: 'css_short_id_3',
                  p: 'css_short_id_1'
                }
              ]
            each resource, index in resources
              li.tree-item-box
                .tree-item
                  span=resource.title
            li.tree-item-box
              .tree-dir
                span 这是一个目录
                ul.tree-sub
                  li.tree-item-box
                    .tree-item
                      span 这是一个子文件
      section.main
        #canvas.canvas

  section.popup.popup__transform.Ldn: .popupbox
    .tab
      ul.tab-nav
        -
          navItems = {
            '0': {
              name: '变形&过渡'
            },
            '1': {
              name: '自定义动画'
            },
            '2': {
              name: '动画库',
            }
          }
        each item, key in navItems
          li(class= key==0 ? 'active tab-nav-item' : 'tab-nav-item', data-index=key)
            a.tab-nav-item-a=item.name
      ul.tab-cont
        li.tab-cont-item(data-index="0")
          dl
            include _transform.jade
        li.tab-cont-item(data-index="1")
        li.tab-cont-item(data-index="2")
          -
            animation = [{
              name: '基本效果',
              items: {
                flash: "闪光灯",
                bounce: "弹起",
                shake: "摇摆",
                tada: "秋千",
                swing: "swing",
                wobble: "疯狂摆动",
                pulse: "脉冲"
              }
            }, {
              name: '翻转',
              items: {
                flip: "翻转",
                flipInX: "X轴淡入",
                flipOutX: "X轴淡出",
                flipInY: "Y轴淡入",
                flipOutY: "Y轴淡出"
              }
            }, {
              name: '淡入效果',
              items: {
                fadeIn: "淡入",
                fadeInUp: "下方淡入",
                fadeInDown: "上方淡入",
                fadeInLeft: "左边淡入",
                fadeInRight: "右边淡入",
                fadeInUpBig: "底部淡入",
                fadeInDownBig: "顶部淡入",
                fadeInLeftBig: "页面左边淡入",
                fadeInRightBig: "页面右边淡入"
              }
            }, {
              name: "淡出效果",
              items: {
                fadeOut: "淡出",
                fadeOutUp: "向上淡出",
                fadeOutDown: "向下淡出",
                fadeOutLeft: "向左淡出",
                fadeOutRight: "向右淡出",
                fadeOutUpBig: "顶部淡出",
                fadeOutDownBig: "底部淡出",
                fadeOutLeftBig: "页面左边淡出",
                fadeOutRightBig: "页面右边淡出"
              }
            }, {
              name: "弹跳进入效果",
              items: {
                bounceIn: "bounceIn",
                bounceInDown: "bounceInDown",
                bounceInUp: "bounceInUp",
                bounceInLeft: "bounceInLeft",
                bounceInRight: "bounceInRight"
              }
            }, {
              name: "弹跳退出效果",
              items: {
                bounceOut: "bounceOut",
                bounceOutDown: "bounceOutDown",
                bounceOutUp: "bounceOutUp",
                bounceOutLeft: "bounceOutLeft",
                bounceOutRight: "bounceOutRight"
              }
            }, {
              name: "旋转进入效果",
              items: {
                rotateIn: "rotateIn",
                rotateInDownLeft: "rotateInDownLeft",
                rotateInDownRight: "rotateInDownRight",
                rotateInUpLeft: "rotateInUpLeft",
                rotateInUpRight: "rotateInUpRight"
              }
            }, {
              name: "旋转退出效果",
              items: {
                rotateOut: "rotateOut",
                rotateOutDownLeft: "rotateOutDownLeft",
                rotateOutDownRight: "rotateOutDownRight",
                rotateOutUpLeft: "rotateOutUpLeft",
                rotateOutUpRight: "rotateOutUpRight"

              }
            }, {
              name: "特效",
              items: {
                hinge: "hinge",
                rollIn: "rollIn",
                rollOut: "rollOut"
              }
            }]

    .btnbox
      a(href="javascript:;").btn.btn--green 保存
      a(href="javascript:;").btn.btn--gray 撤消
    i.close X

  section.popup.popup__file.Ldn: .popupbox
    .preview
    input(type="file")
    .btnbox
      a(href="javascript:;").btn.btn--green 确认
  #scriptArea.Ldn
    script(src="../constant.js")
    script(src="./js/dom.js")
    script(src="./js/tree.js")
    script(src="./js/style.js")
    script(src="./js/snap.svg/snap.svg.js")
    script(src="./js/app.js")










