doctype html
html
  head
    title css3动画交互调试加强版
    link(rel="stylesheet", type="text/css", href="./dist/lib/pure/pure-min.css")
    link(rel="stylesheet", type="text/css", href="./dist/lib/font-awesome/css/font-awesome.css")
    link(rel="stylesheet", type="text/css", href="./dist/lib/jquery-ui/jquery-ui.min.css")
    link(rel="stylesheet", type="text/css", href="./dist/css/style.css")
    link(rel="stylesheet", type="text/css", href="./dist/lib/animate/animate.css")
body
  #layout.pure-g.layout
    header.pure-u-1.header
      .pure-u-1.pure-u-mid-3-4.Lfll
        .pure-menu
          a(href="javascript:;", data-action="preview").pure-button.button-success
            i.fa.fa-eye
            | 预览
          a(href="javascript:;").pure-button
            i.fa.fa-css3
            | 查看样式
          a(href="javascript:;").pure-button
            i.fa.fa-paint-brush
            | 清除缓存
          span.predefined
            label 预定义
            select.import
              -
                types = [{
                  type: 'file-layout',
                  name: '切换布局'
                },{
                  type: 'file-animation',
                  name: '导入已有动画交互'
                },{
                  type: 'file-css',
                  name: '导入动画库css文件'
                },{
                  type: 'input-css',
                  name: '在线输入动画库'
                }]
              for type in types
                option(value=type.type)=type.name
            -
              sizes = ['640*800','1024*1500']
            select.size
              for size in sizes
                option(value=size)=size
          span.grid
            label
              input(type="checkbox", value="1")
              i 显示网格线
      .pure-u-1.pure-u-mid-1-4.Lflr
        .pure-menu
          label 导出文件
          select.export
            option(value="file-animation") 导出包
            option(value="file-css") 导出样式
          a(href="javascript:;").pure-button.button-error
            i.fa.fa-refresh
            | 重置
    .pure-cont.pure-u-1.content
      section.canvasbox
        #canvas.canvas
      section.operatebox
        .operate-popup#operate-popup.Ldn
          .operate#operate
        .librarybox
          ul.library


  .scriptArea.Ldn
    script(src="./dist/lib/jquery/jquery-3.0.0.js")
    script(src="./dist/lib/jquery-ui/jquery-ui.min.js")
    script(src="./dist/lib/requirejs/require.js")
    script(src="./dist/js/config.js")
    script(src="./dist/js/app.js")
  .popup.popup-menu
    .popupbox
      -
        menus = [{
          type: 'update-ele',
          name: '修改元素',
        },{
          type: 'delete-ele',
          name: '删除元素'
        },{
          type: 'update-css',
          name: '更新样式'
        },{
          type: 'view-css',
          name: '查看样式'
        },{
          type: 'delete-css',
          name: '删除样式'
        }]
      i.close X
      ul.menulist.pure-g
        each item in menus
          li.pure-u-1(href="javascript:;",data-key=item.type)=item.name

