<%
  var types = [{
    type: 'control-predefined',
    name: '选择控件组'
  },{
    type: 'control-import',
    name: '导入控件组'
  },{
    type: 'control-diy',
    name: '在线组件控件组'
  }];
  if(!obj){
    obj = {};
  }
%>
<form class="pure-form">
  <div class="pure-control-group pure-u-1">
    <label>
      <span class="pure-u-mid-1-4">元素类型</span>
      <span class="pure-u-mid-1-2">
        <select name="type" <%=(obj.disabled ? 'disabled="disabled"' : null)%>>
          <% _.each(types,function(type, index){ %>
            <option value="<%= type.type%>" <%=(obj.type === type.type ? 'selected="selected"' : null)%>><%=type.name%></option>
          <% }) %>
        </select>
      </span>
      <span class="pure-u-mid-1-4">目前仅支持选择控件组</span>
    </label>
  </div>
  <div class="pure-control-group pure-u-1">
    <label>
      <span class="pure-u-mid-1-4">元素标识</span>
      <span class="pure-u-mid-2-4">
        <input type="text", name="identifier" placeholder="元素标识", value="<%=obj.identifier%>">
      </span>
      <span class="pure-u-mid-1-4">此元素标识只有一个，且不能重复</span>
    </label>
  </div>
</form>
