<div class="pure-menu">
    <dl class="pure-menu-list">
      <dt class="library-title pure-menu-item library-title-grid">
        <i class="fa fa-plus"></i>
        <i class="fa fa-question-circle"></i>
        <span>布局设置</span>
      </dt>
      <dd class="library-content library-grid-content">
        <%
            var grids = ['12 12','8 8 8','6 6 6 6','1'];
        %>
        <% _.each(grids, function(grid){ %>
        <div class="lyrow ui-draggable">
            <span class="drag label">
                <i class="fa fa-arrows"></i>拖动
            </span>
            <div class="preview">
                <input value="<%=grid%>" type="text"/>
            </div>
        </div>
        <% }) %>
      </dd>
  </dl>
</div>
