<div class="pure-menu">
    <dl class="pure-menu-list">
      <dt class="library-title pure-menu-item library-title-grid">
        <i class="fa fa-plus"></i>
        <i class="fa fa-question-circle"></i>
        <span>布局设置</span>
      </dt>
      <dd class="library-content library-grid-content">
        <%
          var grids = [{key:'v_12_12', val:'12 12'},{key:'v_8_8_8_8', val:'8 8 8'},{key:'v_6_6_6_6',val:'6 6 6 6'},{key:'v_1',val:'1'}];
        %>
        <% _.each(grids, function(grid, key){ %>
        <div class="css3_tool_item_demo ui-draggable" data-val="<%=grid.key%>">
            <a href="javascript:;" class="del pure-button button-error"><i class="fa fa-times"></i>删除</a>
            <span class="drag pure-button">
                <i class="fa fa-arrows"></i>拖动
            </span>
            <div class="preview">
                <input value="<%=grid.val%>" type="text"/>
            </div>
            <div class="views">
                <div class="pure-u-g">
                    <%
                        var arr = grid.val.split(/\s/);
                        _.each(arr, function(num){ %>
                            <div class="ui-sortable pure-grids pure-u-<%=num%>-24"></div>
                        <% })
                    %>
                </div>
            </div>
        </div>
        <% }) %>
      </dd>
  </dl>
</div>
